<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="arithmeticCalculator" class="com.mamh.spring.demo.aop.byxml.ArithmeticCalculatorImpl"/>
    <bean id="loggingAspect" class="com.mamh.spring.demo.aop.byxml.LoggingAspect"/>
    <bean id="validationAspect" class="com.mamh.spring.demo.aop.byxml.ValidationAspect"/>


    <aop:config>
        <aop:pointcut id="pointcut"
                      expression="execution( * com.mamh.spring.demo.aop.byxml.ArithmeticCalculator.*(int,int))"/>

        <aop:aspect ref="loggingAspect" order="2">
            <aop:before method="before" pointcut-ref="pointcut"/>
        </aop:aspect>

        <aop:aspect ref="validationAspect" order="1">
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturn" pointcut-ref="pointcut" returning="result"/>
        </aop:aspect>

    </aop:config>


</beans>
