<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="helloWorld" class="com.mamh.spring.demo.beans.HelloWorld">
        <property name="name" value="xxxxxxxxxxxxxxxx"/>  <!--通过setter方法设置属性值 -->
    </bean>


    <bean id="car" class="com.mamh.spring.demo.beans.Car">
        <constructor-arg value="Audi" index="0"/>      <!-- 通过构造方法设置属性值 -->
        <constructor-arg value="shanghai" index="1"/>  <!-- 按照参数顺序来配置 -->
        <constructor-arg value="123" index="2"/>
    </bean>

    <bean id="car1" class="com.mamh.spring.demo.beans.Car">
        <constructor-arg value="BMW" index="0"/>      <!-- 通过构造方法设置属性值 -->
        <constructor-arg value="shanghai" index="1"/>  <!-- 按照参数顺序来配置 -->
        <constructor-arg value="240" index="2" type="int"/>   <!-- 可以指定参数类型以区分重载构造器 -->
    </bean>

    <bean id="car2" class="com.mamh.spring.demo.beans.Car">
        <constructor-arg value="Audi" type="java.lang.String"/> <!-- 可以使用value子节点 -->
        <constructor-arg type="java.lang.String">
            <value><![CDATA[ 上海f>]]></value>
        </constructor-arg>
        <constructor-arg type="int">
            <value>234234</value>
        </constructor-arg>
    </bean>

    <bean id="car3" abstract="true"/> <!--抽象bean，不能被实例化。若改bean没有指定class，则必须指定为抽象bean -->
    <bean id="car4" parent="car"/> <!-- 子bean继承父bean中的配置 , 也可以覆盖父bean中的配置-->


    <bean id="car5" class="com.mamh.spring.demo.beans.Car" scope="prototype">      <!-- 默认scope是singleton，单例的。 -->
        <property name="brand" value="audi"/>
        <property name="price" value="100000"/>
    </bean>

    <bean id="car6" class="com.mamh.spring.demo.beans.Car" init-method="init" destroy-method="destroy">
        <property name="brand" value="audi"/>
        <property name="price" value="100000"/>
        <property name="tyrePerimeter" value="#{T(java.lang.Math).PI * 80}"/>
        <property name="maxSpeed" value="1280"/>
        <property name="corp" value="slfjsldfj"/>

    </bean>
    <!--<bean class="com.mamh.spring.demo.processor.PostProcessor"/>-->

    <bean id="car7" class="com.mamh.spring.demo.factory.StaticCarFactory" factory-method="getCar">
        <constructor-arg value="audi"/>  <!-- 静态工厂方法 -->
    </bean>

    <bean id="carFactory" class="com.mamh.spring.demo.factory.InstanceCarFactory"/><!-- 配置工厂实例 -->

    <bean id="car8" factory-bean="carFactory" factory-method="getCar">
        <constructor-arg value="ford"/>  <!-- 实例工厂方法 -->
    </bean>


    <bean id="person" class="com.mamh.spring.demo.beans.Person">
        <property name="name" value="Tom"/>
        <property name="age" value="28"/>
        <property name="car" ref="car2"/> <!--引用类型的 -->

    </bean>


    <bean id="person1" class="com.mamh.spring.demo.beans.Person">
        <property name="name" value="Jerry"/>
        <property name="age" value="28"/>

        <!--内部bean,不能够被外部引用-->
        <property name="car">
            <bean class="com.mamh.spring.demo.beans.Car">
                <constructor-arg value="bens" index="0"/>      <!-- 通过构造方法设置属性值 -->
                <constructor-arg value="shanghai" index="1"/>  <!-- 按照参数顺序来配置 -->
                <constructor-arg value="340" index="2" type="int"/>   <!-- 可以指定参数类型以区分重载构造器 -->
            </bean>
        </property>
    </bean>


    <bean id="person2" class="com.mamh.spring.demo.beans.Person">
        <constructor-arg value="mamh"/>
        <constructor-arg value="29"/>
        <constructor-arg>
            <null/>
        </constructor-arg>  <!-- null值的写法 -->


    </bean>


    <bean id="person3" class="com.mamh.spring.demo.beans.Person">
        <constructor-arg value="mamh"/>
        <constructor-arg value="29"/>
        <constructor-arg ref="car"/>
        <property name="car.maxSpeed" value="2600"/>    <!-- 级联属性赋值 -->


    </bean>


    <bean id="person4" class="com.mamh.spring.demo.beans.Person">
        <constructor-arg value="z"/>
        <constructor-arg value="29"/>
        <constructor-arg ref="car"/>
        <property name="car.maxSpeed" value="2600"/>    <!-- 级联属性赋值 -->

        <property name="cars">
            <list>
                <ref bean="car2"/>
                <ref bean="car1"/>
                <ref bean="car"/>

            </list>
        </property>

        <property name="carMap">
            <map>
                <entry key="aa" value-ref="car"/>
                <entry key="bb" value-ref="car1"/>
                <entry key="cc" value-ref="car2"/>
            </map>
        </property>

        <property name="properties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">123456</prop>
                <prop key="jdbcurl">jdbc:///mysql</prop>
                <prop key="driverclass">driver.mysql.jdbc</prop>
            </props>
        </property>
    </bean>

    <bean id="person5" class="com.mamh.spring.demo.beans.Person">
        <constructor-arg value="ss"/>
        <constructor-arg value="23"/>
        <constructor-arg ref="car1"/>

        <!--配置独立的集合bean -->
        <property name="cars" ref="cars"/>
    </bean>

    <util:list id="cars">
        <ref bean="car2"/>
        <ref bean="car"/>
        <ref bean="car1"/>
    </util:list>

    <util:map id="map">
        <entry key="aa" value-ref="car"/>
        <entry key="bb" value-ref="car1"/>
        <entry key="cc" value-ref="car2"/>
    </util:map>

    <util:properties id="properties">
        <prop key="user">root</prop>
        <prop key="password">123456</prop>
        <prop key="jdbcurl">jdbc:///mysql</prop>
        <prop key="driverclass">driver.mysql.jdbc</prop>
    </util:properties>

    <!-- p命名空间 -->
    <bean id="person6" class="com.mamh.spring.demo.beans.Person" p:age="30" p:name="queen" p:cars-ref="cars"
          p:carMap-ref="map"
          p:properties-ref="properties"/>

    <bean id="person7" class="com.mamh.spring.demo.beans.Person" p:name="xskfjsl" autowire="byName"/>

    <bean id="person8" class="com.mamh.spring.demo.beans.Person">
        <property name="car" value="#{car6}"/>
        <property name="city" value="#{address.city}"/>
        <property name="info" value="#{car.price > 30000?'jin':'bai'}"/>
        <property name="name" value="tom"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="user"/>
        <property name="password" value="password"/>
        <property name="jdbcUrl" value="jdbc url"/>
        <property name="driverClass" value="dirver class is ...."/>

    </bean>

    <!-- 导入属性文件 -->
    <context:property-placeholder location="db.prop"/>

    <bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${user}"/>
        <property name="password" value="${password}"/>
        <property name="jdbcUrl" value="$jdbcUrl}"/>
        <property name="driverClass" value="${driverClass}"/>


    </bean>


    <!--spel的用法 -->
    <bean id="address" class="com.mamh.spring.demo.beans.Address">
        <property name="city" value="#{'Beijing'}"/>    <!--使用spel给属性赋值，字面值 -->
        <property name="street" value="#{'wudaokou'}"/>

    </bean>


</beans>
